.skills {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 80px;
  flex-wrap: wrap;
}

.skill_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 2;
  min-width: 290px;
  flex-basis: 500px;
}

.skills div:has(img) {
  flex: 1 1 420px;
  text-align: center;
}

.skills div:has(img) img {
  max-width: 100%;
 object-fit: contain;
}

.skill p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.skill_progress_wrapper {
  height: 30px;
  background-color: #eee;
  width: 100%;
  position: relative;
}

.fill_progress {
  background-color: var(--main-color);
  display: inline-block;
  height: 100%;
  transition: width 1s;
}

.rate {
  position: absolute;
  right: 0;
  top: -15px;
  transform: translateY(-100%);
  color: var(--main-color);
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  background: #eee;
  border-radius: 6px;
}

.rate::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate( -50% , 100%);
  border: 5px solid ;
  border-color:   var(--main-color) transparent transparent  transparent ;
}
